amcl:
  ros__parameters:
    use_sim_time: false  # En mvsim no hay /clock -> false. En Gazebo sí -> true
    base_frame_id: base_link
    odom_frame_id: odom
    global_frame_id: map
    scan_topic: /laser1   # <--- TU topic real del laser
    laser_model_type: likelihood_field
    min_particles: 500
    max_particles: 2000
    # si el sensor es denso y rápido, puedes subir update_min_d o update_min_a:
    update_min_d: 0.1
    update_min_a: 0.2

local_costmap:
  local_costmap:
    ros__parameters:
      global_frame: odom
      robot_base_frame: base_link
      rolling_window: true
      width: 5
      height: 5
      resolution: 0.05
      robot_radius: 0.20
      plugins: ["obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: lidar
        lidar:
          topic: /laser1   # <--- TU topic real del laser
          data_type: LaserScan
          clearing: true
          marking: true
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.6

global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link
      resolution: 0.05
      robot_radius: 0.20
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_topic: /map
        subscribe_to_updates: true
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: lidar
        lidar:
          topic: /laser1   # <--- TU topic real del laser
          data_type: LaserScan
          clearing: true
          marking: true
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.6

# ---- Planner ----
planner_server:
  ros__parameters:
    use_sim_time: false
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner::NavfnPlanner"

# ---- Controller ----
controller_server:
  ros__parameters:
    use_sim_time: false
    controller_plugins: ["FollowPath"]
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      desired_linear_vel: 0.4
      lookahead_dist: 0.6

# ---- Smoother (opcional pero común) ----
smoother_server:
  ros__parameters:
    use_sim_time: false
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"

# ---- BT Navigator ----
bt_navigator:
  ros__parameters:
    use_sim_time: false
    default_bt_xml_filename: "/home/diego/ws_RM_PF/nav2_params/wait_for_obstacle.xml" # Cambiar a el ordenador
    # plugin_lib_names:
    #   - nav2_compute_path_to_pose_action_bt_node
    #   - nav2_compute_path_through_poses_action_bt_node
    #   - nav2_follow_path_action_bt_node
    #   - nav2_back_up_action_bt_node
    #   - nav2_spin_action_bt_node
    #   - nav2_wait_action_bt_node
    #   - nav2_clear_costmap_service_bt_node
    #   - nav2_is_stuck_condition_bt_node
    #   - nav2_goal_reached_condition_bt_node
    #   - nav2_initial_pose_received_condition_bt_node
    #   - nav2_reinitialize_global_localization_service_bt_node
    #   - nav2_rate_controller_bt_node
    #   - nav2_distance_controller_bt_node
    #   - nav2_speed_controller_bt_node
    #   - nav2_truncate_path_action_bt_node
    #   - nav2_goal_updater_node
    #   - nav2_recovery_node
    #   - nav2_pipeline_sequence_bt_node
    #   - nav2_round_robin_node
    #   - nav2_transform_available_condition_bt_node
    #   - nav2_time_expired_condition_bt_node

collision_monitor:
  ros__parameters:
    observation_sources: [scan]
    scan:
      type: scan
      topic: /laser1
    polygons: ["slowdown_zone", "stop_zone"]
    slowdown_zone:
      type: polygon
      action_type: slowdown
      points: "[[0.5,0.4],[0.5,-0.4],[-0.5,-0.4],[-0.5,0.4]]"
      slowdown_ratio: 0.5
    stop_zone:
      type: polygon
      action_type: stop
      points: "[[0.3,0.25],[0.3,-0.25],[-0.3,-0.25],[-0.3,0.25]]"


docking_server:
  ros__parameters:
    controller_frequency: 50.0
    initial_perception_timeout: 5.0
    wait_charge_timeout: 5.0
    dock_approach_timeout: 30.0
    undock_linear_tolerance: 0.05
    undock_angular_tolerance: 0.1
    max_retries: 3
    base_frame: "base_link"
    fixed_frame: "odom"
    dock_backwards: false
    dock_prestaging_tolerance: 0.5

    # Types of docks
    dock_plugins: ['simple_charging_dock']
    simple_charging_dock:
      plugin: 'opennav_docking::SimpleChargingDock'
      docking_threshold: 0.05
      staging_x_offset: -0.7
      use_external_detection_pose: true
      use_battery_status: false # true
      use_stall_detection: false # true

      external_detection_timeout: 1.0
      external_detection_translation_x: -0.18
      external_detection_translation_y: 0.0
      external_detection_rotation_roll: -1.57
      external_detection_rotation_pitch: -1.57
      external_detection_rotation_yaw: 0.0
      filter_coef: 0.1

    # Dock instances
    # The following example illustrates configuring dock instances.
    # docks: ['home_dock']  # Input your docks here
    # home_dock:
    #   type: 'simple_charging_dock'
    #   frame: map
    #   pose: [0.0, 0.0, 0.0]

    controller:
      k_phi: 3.0
      k_delta: 2.0
      v_linear_min: 0.15
      v_linear_max: 0.15
      use_collision_detection: true
      costmap_topic: "local_costmap/costmap_raw"
      footprint_topic: "local_costmap/published_footprint"
      transform_tolerance: 0.1
      projection_time: 5.0
      simulation_step: 0.1
      dock_collision_threshold: 0.3      

lifecycle_manager:
  ros__parameters:
    use_sim_time: false
    autostart: true
    node_names: ["map_server","amcl","planner_server","controller_server","bt_navigator","smoother_server","route_server"]
